.FirstBox {
  display: flex;
}

@media (max-width: 576px) {
  .FirstBox {
    display: grid;
    grid-template-areas:
      "formularioBox"
      "colaboradoresBox";
    width: 80vh;
  }

  .formularioBox {
    width: 60vh;
    grid-area: formularioBox;
  }
  .colaboradoresBox {
    width: 60vh;
    grid-area: colaboradoresBox;
    overflow-x: scroll;
  }
}
